.header-Home-Page {
  display: flex;
  justify-content: center;
  height: 10%;
}
.search-Button {
  display: flex;
  justify-content: center;
}
/* .search-Button>button {
background-color: black;
color: white;
border-radius: 10px;
} */
.active {
  color: green;
}
.inactive {
  color: red;
}
